.title {
  font-size: 3rem;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1rem;
}

.jumbotron {
  color: white;
  width: 100%;
  text-align: center;
  background-color: navy;
  padding: 2em;
  margin-bottom: 2em;
}